html, body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background: #111111;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  color: #eeeeee;
  margin: 50px 0;
}

#viewDiv {
  height: 700px;
  width: 1000px;
}